body {
    background-color: aliceblue;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* main */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}
#calculator {
    width: 400px;
    border: solid;
    border-radius: 15px;
    padding: 20px; 
}
.all-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

 /* .zero {
    grid-column: span 2;
} */

#equals {
    grid-column: span 2;
}

button {
    padding: 20px;
    border: solid;
    border-radius: 5px;
    background-color: gray;
    font-size: 20px;
}